@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    user-select: none;
}
html {
    scroll-behavior: smooth;
}
body {
    --primary-color: #2c4bff;
    --default-text-color: black;
    --btn-text-color: white;
    --border-radius: 5px;
    --transition: all 300ms linear;
    --primary-bg-color: white;
    --bg-color-2: #f4f5fe; 
    --box-shadow: 5px 5px 15px var(--primary-bg-color);
    --transform-img: scale(1.01);

    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
body.dark {
    --primary-color: #4a72fa;
    --default-text-color: white;
    --primary-bg-color: #111;
    --bg-color-2: #181b21; 
}
/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2540d3;
  }

span {
    color: var(--primary-color);
}
.home {
    width: 100vw;
    color: var(--default-text-color);
    max-width: 100vw;
    background-color: var(--bg-color-2);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
header p {
    font-size: 2rem;
    padding-left: 2rem;
    font-weight: bold;
}
.nav-links {
    display: flex;
    gap: 3em;
    padding-right: 6rem;
    list-style-type: none;
}
a {
    color: var(--default-text-color);
    transition: var(--transition);
}
.nav-links > li > a:hover {
    color: var(--primary-color);
}
.light_dark_theme{
    position: absolute;
    font-size: 25px;
    right: 2rem;
    transition: var(--transition);
}
.light_dark_theme:hover {
    color: var(--primary-color);
    cursor: pointer;
    transform: scale(1.1);
}

/* menu button styling */
.menu-btn {
    display: none;
    cursor: pointer;
    margin-right: 20px;
}
header.sticky {
    width: 100vw;
    position: fixed;
    transition: var(--transition);
    z-index: 100;
    background-color: var(--bg-color-2);
}
header.sticky span {
    color: var(--primary-color);
}

/* home main section */
.main {
    font-size: 45px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
    padding: 7rem 5rem;
}
.main span {
    font-size: 55px;
    text-shadow: 5px 5px 3px var(--primary-bg-color);
}
.main span.name {
    color: var(--default-text-color);
}
.home_page_img {
    width: 500px;
    height: 250px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: var(--transition);
}
.home_page_img:hover {
    transform: var(--transform-img);
}
.btn {
    background: var(--primary-color);
    width: 100px;
    height: 40px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    color: var(--btn-text-color);
    font-weight: bold;
    transition: var(--transition);
    margin-top: 70px;
}
.btn:hover{
    border: 3px solid var(--primary-color);
    background: none;
    color: var(--primary-color);
}

/* about-me section */
.about_me {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    background-color: var(--primary-bg-color);
    justify-content: center;
}
.title {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: var(--default-text-color);
    margin-bottom: 60px;
    padding-bottom: 20px;
}
.title::before {
    content: "";
    position: absolute;
    width: 180px;
    bottom: 0px;
    height: 3px;
    background: var(--default-text-color);
    left: 50%;
    transform: translateX(-50%);
}
.title::after {
    content: "who I am";
    position: absolute;
    background-color: var(--primary-bg-color);
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    padding: 5px;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1rem;
    z-index: 11;
}
.about_me_wrapper {
    display: flex;
    align-items: center;
    gap: 10rem;
}
.img {
    width: 300px;
    height: 325px;
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 15px var(--bg-color-2);
    transition: var(--transition);
}
.img:hover {
    transform: var(--transform-img);
}
.description {
    color: var(--default-text-color);
}
.description :first-child {
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}
button.download_cv {
    width: 120px;
}

/* service section */
.services {
    background: var(--primary-bg-color);
}
.services .title::after {
    content: "what I provide";
}
.service_lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 30px;
    gap: 1rem;
}
.service_lists > div {
    padding: 2rem;
    color: var(--default-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background: var(--bg-color-2);
    border-radius: var(--border-radius);
    transition: var(--transition);
}
.service_lists > div:hover {
    transform: scale(1.03);
    box-shadow: var(--box-shadow);
}
.heading {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
}

/*skill section*/
.skills {
    background: var(--primary-bg-color);
}
.skills .title::after {
    content: "what I know"
}
.my_skills {
    display: flex;
    padding: 10px 100px 50px;
    align-items: center;
    gap: 5rem;
}
.progress {
    display: flex;
    flex-direction: column;
}
.progress > label {
    width: 100%;
    font-weight: bold;
    position: relative;
    color: var(--default-text-color);
}
label span{
    position: absolute;
    right: 0px;
}

/* progress bar styling */
progress {
    margin-top: -12px;
    appearance: none;
    width: 30vw;
}
progress::-webkit-progress-bar {
    height: 8px;
    background-color: #eee;
    color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  progress::-webkit-progress-value {
      border-radius: 10px; 
      background-color: var(--primary-color);
  }

/*teams section*/
.teams {
    background-color: var(--primary-bg-color);
}
.teams .title::after{
    content: "who with me";
}
.team_profiles {
    display: flex;
    padding: 2rem;
    gap: 2rem;
    max-width: 100vw;
}
.profile {
    text-align: center;
    background-color: var(--bg-color-2);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: var(--border-radius);
    transition: var(--transition);
}
.profile:hover{
    cursor: grab;
    background: var(--primary-color);
}
.profile p {
    color: var(--default-text-color);
}
.profile p:nth-child(2) {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.25rem;
}
.profile:hover p {
    color: white;
}
.profile > img {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    border: 5px solid var(--primary-color);
    border-radius: 50%;
    margin-bottom: 1rem;
    overflow-x: hidden;
    transition: var(--transition);
}
.profile:hover img{
    border-color: var(--bg-color-2);
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid var(--primary-color)!important;
    margin: 0 3px;
    transition: var(--transition);
}
.owl-dot.active{
    width: 26px;
    border-radius: 30px;
    background: var(--primary-color)!important;
}
.owl-dot:active,
.owl-dot:hover {
    background: none!important;
}

/*contact me section*/
.contact_me {
    background-color: var(--primary-bg-color);
}
.contact_me .title::after {
    content: "get in touch";
}
.contact_container {
    margin: 10px 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
}
.contact-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact {
    display: flex;
    max-width: 60%;
    align-items: center;
    gap: 2rem;
    font-weight: bold;
    margin-top: 10px;
}
.message_me {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
}
.message_me p{
    font-weight: bold;
    color: var(--default-text-color);
}
form > input,
form textarea{
    height: 30px;
    padding: 0px 10px;
    margin: 10px 5px;
    border: 1.5px solid #B5B5B5;
    border-radius: var(--border-radius);
    transition: var(--transition);
}
form > input:focus,
form textarea:focus {
    border-color: var(--primary-color);
    box-shadow: .5px .5px 10px var(--primary-color);
}
.message_me form > input,
.message_me form textarea{
    outline: none!important;
}
#subject {
    width: 395px;
}
textarea {
    resize: horizontal;
    min-width: 100px;
    width: 395px;
    max-width: 600px;
    min-height: 60px;
}
.send_msg {
    margin-top: 0;
    width: 150px;
    margin-left: 5px;
    justify-self: flex-start;
}
footer {
    background: var(--primary-bg-color);
    color: var(--default-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
/* responsive media query starts from here */

/* for screen size less than 1150px width */
@media (max-width: 1150px) {
    .main {
        font-size: 35px;
    }
    .main span {
        font-size: 45px;
    }
    .home_page_img {
        width: 450px;
        height: 225px;
    }
    .contact_container {
        margin: 5px 40px;
    }
    form > input,
    form textarea{
        max-width: 150px;
    }
    #subject {
        width: 315px;
    }
    .send_msg {
        width: 120px;
        font-size: 12px;
    }
}

/* for screen size less than 990px width */
@media (max-width: 990px) {
    .nav-links {
        display: none;
    }
    .light_dark_theme{
        position: fixed;
        bottom: 20px;
        right: 20px;
        transition: var(--transition);
        z-index: 99;
    }
    .menu-btn {
        display: block;
        font-size: 20px;
        font-weight: bold;
        z-index: 999;
        transition: var(--transition);
    }
    .menu-btn.animation {
        color: var(--primary-color);
    }

    /* block nav-bar styling */
    .nav-links.active {
        display: block;
        padding: 0;
        background-color: var(--primary-bg-color);
        width: 100%;
        height: 100vh;
        position: absolute;
        inset: 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main {
        font-size: 30px;
        font-weight: bold;
        flex-direction: column;
        padding: 6rem 5rem;
        text-align: center;
    }
    .main span {
        font-size: 35px;
    }
    .home_page_img {
       display: none;
    }
    .hire-btn {
        margin-top: 0;
        justify-self: center;
    }
    .about_me_wrapper {
        gap: 5rem;
    }
    .img {
        width: 250px;
        height: 275px;
        max-width: 80vw;
    }
    .description :first-child {
        font-size: 15px;
        font-weight: bold;
        line-height: 50px;
    }
    .description {
        font-size: 12px;
    }
    .my_skills {
        flex-direction: column;
        gap: 3rem;
    }
    .btn {
        margin-top: 40px;
    }
    .progress {
        padding: 30px;
        background-color: var(--bg-color-2);
        border-radius: var(--border-radius);
    }
    progress {
        width: 60vw;
    }
    .contact_container {
        column-gap: 3rem;
    }
    .send_msg {
        margin-top: 0;
    }
}

@media (max-width: 800px) {
    .about_me {
        padding: 20px 0px;
        height: 120%;
    }
    .about_me_wrapper {
        margin: 30px 50px;
        padding: 0px 0px;
        gap: 3rem;
        flex-direction: column;
        align-items: center;
    }
    .download_cv {
        width: 100px;
        height: 30px;
        font-size: 10px;
    }
    .service_lists {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );
    }
    .my_skills {
        padding: 10px 50px 50px;
    }
    .contact_container {
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
        text-align: center;
    }
    .contact {
        max-width: 100%;
        justify-content: center;
    }
    textarea {
        width: 300px;
        max-width: 400px;
    }
    .send_msg {
        align-self: center;
    }
    footer {
       font-size: 12px;
    }
}